<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div
      class="mx-auto max-w-screen-sm md:max-w-[1200px] text-center lg:mb-16 mb-8"
    >
      <h2
        class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-binance-dark-gray dark:text-white w-100"
      >
        Una plataforma única para todo lo relacionado con los NFT
      </h2>
      <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
        Haz stake de NFT, préstalos u opera con ellos de forma segura en Binance
        NFT
      </p>
    </div>
    <div class="grid gap-8 lg:grid-cols-4">
      <article
        class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 min-h-[145px] w-auto"
        style="background-image: url('../../../assets/images/banner1.webp')"
      >
        <div class="flex justify-between items-center">
          <a
            href="#"
            class="inline-flex items-center font-medium text-primary-600 dark:text-primary-500 hover:underline"
          >
          </a>
        </div>
      </article>
      <article
        class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 min-h-[145px] w-auto"
        style="background-image: url('../../../assets/images/banner2.webp')"
      >
        <div class="flex justify-between items-center">
          <a
            href="#"
            class="inline-flex items-center font-medium text-primary-600 dark:text-primary-500 hover:underline"
          >
          </a>
        </div>
      </article>
      <article
        class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 min-h-[145px] w-auto"
        style="
          background-image: url('../../../assets/images/banner3.webp');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        "
      >
        <div class="flex justify-between items-center">
          <a
            href="#"
            class="inline-flex items-center font-medium text-primary-600 dark:text-primary-500 hover:underline"
          >
          </a>
        </div>
      </article>
      <article
        class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 min-h-[145px] w-auto"
        style="background-image: url('../../../assets/images/banner4.webp')"
      >
        <div class="flex justify-between items-center">
          <a
            href="#"
            class="inline-flex items-center font-medium text-primary-600 dark:text-primary-500 hover:underline"
          >
          </a>
        </div>
      </article>
    </div>
  </div>
</section>
