<div
  id="carouselExampleSlidesOnly"
  class="relative max-w-[1200px] max-h-[500px] mx-auto"
  data-te-carousel-init
  data-te-carousel-slide
>
  <!--Carousel items-->
  <div
    class="relative w-full overflow-hidden after:clear-both after:block after:content-['']"
  >
    <!--First item-->
    <div
      class="relative float-left -mr-[100%] w-full transition-transform duration-[400ms] ease-in-out motion-reduce:transition-none"
      data-te-carousel-item
      data-te-carousel-active
      style="
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrHLgspWvqvs7J7nBd7fHi6l-6nZmr0A0RbhKF59TQEUKjA0m0QFqCBKxCBRpPyrjlIX0&usqp=CAU');
        background-position: 50%;
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
      "
    >
      <!-- <img
        src="https://public.nftstatic.com/static/nft/res/nft-cex/S3/1667719765306_remxzyy518xfqyn3wrvtnkkzt1cv0o6l.png"
        class="block w-full"
        alt="Wild Landscape"
      /> -->
    </div>
    <!--Second item-->
    <div
      class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[400ms] ease-in-out motion-reduce:transition-none"
      data-te-carousel-item
      style="
        background-image: url('https://gagadget.com/media/cache/ec/00/ec0012a94f94aa036ef334981c26da1f.jpg');
        background-position: 50%;
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
      "
    >
      <!-- <img
        src="https://public.nftstatic.com/static/nft/res/nft-cex/S3/1667719765306_remxzyy518xfqyn3wrvtnkkzt1cv0o6l.png"
        class="block w-full"
        alt="Camera"
      /> -->
    </div>

    <!--Second item-->
    <div
      class="relative overflow-hidden bg-cover bg-no-repeat"
      style="background-position: 50%; height: 500px"
      data-te-carousel-item
    >
      <div
        class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed flex justify-center"
      >
        <div
          class="flex h-full w-full items-center justify-start max-w-[1200px]"
        >
          <div class="px-6 text-start text-white md:px-12">
            <h1
              class="mt-2 mb-4 text-xl font-bold tracking-tight md:text-2xl xl:text-4xl"
            >
              Haz stake de <strong class="text-binance-blue">NFT</strong> para
              conseguir
            </h1>
            <h2
              class="mt-2 mb-4 text-xl font-bold tracking-tight md:text-2xl xl:text-4xl"
            >
              <strong class="text-binance-blue">$SAND</strong>
            </h2>
            <p class="mb-6 text-xs">
              ¡Deposita y haz stake de NFT The Sandbox con nuestro impecable
              proceso para conseguir diariamente recompensas de SAND $!
            </p>
            <button
              type="button"
              class="rounded-lg bg-binance-blue px-[46px] pt-[14px] pb-[12px] text-sm font-medium uppercase leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-100 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200"
              data-te-ripple-init
              data-te-ripple-color="light"
            >
              Comienza ya!
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
