<!-- Section: Design Block -->
<section class="background-radial-gradient mb-40 overflow-hidden">
  <style>
    .background-radial-gradient {
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(
          650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%
        ),
        radial-gradient(
          1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%
        );
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }
  </style>
  <!-- Jumbotron -->
  <div class="px-6 py-12 text-center md:px-12 lg:py-24 lg:text-left">
    <div
      class="w-100 mx-auto text-neutral-800 sm:max-w-2xl md:max-w-3xl lg:max-w-[1200px] xl:max-w-[1200px] w-full"
    >
      <div class="grid items-center gap-12 lg:grid-cols-2">
        <div class="mt-12 lg:mt-0" style="z-index: 10">
          <h1
            class="mt-0 mb-12 text-5xl font-bold tracking-tight md:text-5xl xl:text-5xl text-white"
          >
            Haz stake de
            <strong class="md:text-6xl xl:text-6xl text-binance-blue"
              >NFT</strong
            >
            <br /><span class="text-white">para conseguir</span
            ><strong class="md:text-6xl xl:text-6xl text-binance-blue">
              SAND$</strong
            >
          </h1>
          <p class="opacity-70 text-[hsl(218,81%,85%)]">
            Haz stake de NFT, préstalos u opera con ellos de forma segura en
            Binance NFT
          </p>
          <div class="mt-16">
            <button
              type="button"
              class="rounded-lg bg-binance-blue px-8 pt-[14px] pb-[12px] text-sm font-medium uppercase leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-100 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200"
              data-te-ripple-init
              data-te-ripple-color="light"
            >
              Comienza ya!
            </button>
          </div>
        </div>
        <div class="relative mb-12 lg:mb-0 w-full">
          <div
            id="radius-shape-1"
            class="absolute rounded-full shadow-lg"
          ></div>
          <div id="radius-shape-2" class="absolute shadow-lg"></div>
          <div
            class="lg:min-w-[700px] relative bg-[hsla(0,0%,100%,0.9)] backdrop-blur-[25px] backdrop-saturate-[200%] block rounded-lg px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-[hsla(0,0%,15%,0.9)] dark:shadow-black/20 mx-auto"
          >
            <div class="flex flex-col mx-auto">
              <div class="overflow-x-hidden sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                  <div class="overflow-hidden my-8">
                    <table class="min-w-full text-center text-sm font-light">
                      <thead
                        class="border-b font-medium dark:border-neutral-500"
                      >
                        <tr>
                          <th scope="col" class="px-6 py-4">WALLET</th>
                          <th scope="col" class="px-6 py-4 w-full min-w-full">
                            ID
                          </th>
                          <th scope="col" class="px-6 py-4"></th>
                          <th scope="col" class="px-6 py-4"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="border-b bg-success-100 text-neutral-800">
                          <td class="whitespace-nowrap px-6 py-4">
                            <img
                              class="object-contain w-5 h-auto"
                              src="../../../assets//images/blockchain/metamask-icon.svg"
                              alt=""
                            />
                          </td>
                          <td class="whitespace-nowrap px-6 py-4">
                            0x0873891180243E10a79Cb6570cF981Ba1eBBD2C5
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="overflow-hidden my-8">
                    <table class="min-w-full text-center text-sm font-light">
                      <thead
                        class="border-b font-medium dark:border-neutral-500"
                      >
                        <tr>
                          <th scope="col" class="px-6 pl-0 py-4">MONEDA</th>
                          <th scope="col" class="px-6 pl-0 py-4">TOKEN</th>
                          <th scope="col" class="px-6 pl-0 py-4">CANTIDAD</th>
                          <th scope="col" class="px-6 pl-0 py-4">SALDO</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          class="border-b border-primary-200 bg-primary-100 text-neutral-800"
                        >
                          <td class="whitespace-nowrap px-6 py-4 font-medium">
                            <img
                              class="object-contain w-5 h-auto"
                              src="../../../assets//images/blockchain/ethereum-eth-logo.svg"
                              alt=""
                            />
                          </td>
                          <td class="whitespace-nowrap px-6 py-4">ETH</td>
                          <td class="whitespace-nowrap px-6 py-4">2</td>
                          <td class="whitespace-nowrap px-6 py-4">10000 USD</td>
                        </tr>
                        <tr
                          class="border-b border-danger-200 bg-danger-100 text-neutral-800"
                        >
                          <td class="whitespace-nowrap px-6 py-4 font-medium">
                            TESTNET
                          </td>
                          <td class="whitespace-nowrap px-6 py-4">SEPOLIA</td>
                          <td class="whitespace-nowrap px-6 py-4">RED ID</td>
                          <td class="whitespace-nowrap px-6 py-4">55511115</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  ->
</section>
