<div *ngIf="cryptoModal" class="fixed z-[10] top-0 left-0 w-full h-full overflow-auto">
  <div class="relative flex items-center justify-center w-full min-h-screen">
    <div class="absolute w-full h-full bg-black/50" (click)="showCryptoModal()"></div>
    <div class="relative m-5 w-[450px] rounded-[10px] overflow-hidden bg-binance-light-gray">
      <p class="p-5 font-medium md:p-6">Seleccionar cripto</p>
      <div class="overflow-auto max-h-[500px]">
        <div *ngFor="let item of cryptos"
          class="flex items-center gap-2 px-5 py-3 cursor-pointer hover:bg-binance-gray md:px-6" (click)="setSelectedCrypto(item); showCryptoModal()">
          <img class="h-10" src="{{item.image}}" alt="">
          <div class="flex flex-col w-full">
            <div class="flex justify-between w-full font-medium">
              <p>{{item.symbol | uppercase}}</p>
              <p>{{item.current_price | currency}}</p>
            </div>
            <div class="flex justify-between w-full">
              <p class="text-[#A7A7A8]">{{item.name}}</p>
              <p [ngClass]="item.price_change_percentage_24h > 0? 'text-[#03a66d]' : 'text-[#cf304a]'">
                {{item.price_change_percentage_24h > 0? '+' : ''}}{{ item.price_change_percentage_24h | number:'1.2-2' }}%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="fiatModal" class="fixed z-[10] top-0 left-0 w-full h-full overflow-auto">
  <div class="relative flex items-center justify-center w-full min-h-screen">
    <div class="absolute w-full h-full bg-black/50" (click)="showFiatModal()"></div>
    <div class="relative m-5 w-[450px] rounded-[10px] overflow-hidden bg-binance-light-gray">
      <p class="p-5 font-medium md:p-6">Seleccionar moneda de pago</p>
      <div class="overflow-auto max-h-[500px]">
        <div class="flex items-center gap-2 px-5 py-3 cursor-pointer hover:bg-binance-gray md:px-6"
          (click)="showFiatModal()">
          <div class="flex justify-between w-full font-medium">
            <p>{{ars[0].name}}</p>
            <p>{{ars[0].description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="buyForm" (ngSubmit)="buy()">
  <div *ngIf="formStep === 1" class="flex flex-col gap-10 max-w-[682px] mx-auto">
    <p *ngIf="selectedCrypto && ars" class="text-center pt-7 pb-6 text-[#A7A7A8]">Precio estimado 1 {{selectedCrypto.symbol | uppercase}} = {{selectedCrypto.current_price * 475 | currency}} ARS</p>
    <div class="flex flex-col gap-3 p-3 bg-binance-gray">
      <div class="flex justify-between font-medium">
        <p>Gastar</p>
        <p>Balance en efectivo</p>
      </div>
      <div class="flex items-center justify-between">
        <input id="saleAmount" formControlName="saleAmount" class="w-[80%] focus:outline-none bg-binance-gray" type="text" placeholder="3000.00 - 1350000.00" (keyup)="cryptoConversion()">
        <div class="flex items-center gap-1 p-1 px-3 font-medium bg-white rounded-md cursor-pointer"
          (click)="showFiatModal()">
          <p>ARS<fa-icon class="ms-1" [icon]="faAngleRight"></fa-icon></p>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-3 p-3 bg-binance-gray">
      <div class="font-medium">
        <p>Recibir</p>
      </div>
      <div class="flex items-center justify-between">
        <input id="purchaseAmount" formControlName="purchaseAmount" class="w-[80%] focus:outline-none bg-binance-gray" type="number" placeholder="0.00" (keyup)="fiatConversion()">
        <div *ngIf="selectedCrypto" class="flex items-center gap-1 p-1 px-3 font-medium bg-white rounded-md cursor-pointer" (click)="showCryptoModal()">
          <img class="h-6" src="{{selectedCrypto.image}}" alt="">
          <p>{{selectedCrypto.symbol | uppercase}}<fa-icon class="ms-1" [icon]="faAngleRight"></fa-icon></p>
        </div>
      </div>
    </div>
    <button *ngIf="buyForm.getRawValue().saleAmount && buyForm.getRawValue().purchaseAmount" class="px-6 py-3 text-base font-medium rounded-md bg-binance-yellow hover:opacity-90" (click)="increaseStep(); emitEvent()">Continuar</button>
  </div>
  
  <div *ngIf="formStep === 2">
    <div class="relative text-center">
      <div class="absolute flex h-full font-medium cursor-pointer md:text-xl" (click)="decreaseStep(); emitEvent()">
        <p class="m-auto"><fa-icon class="me-1" [icon]="faAngleLeft"></fa-icon>atras</p>
      </div>
      <p class="font-medium md:text-2xl">Seleccionar método de pago</p>
    </div>
    <div class="max-w-[682px] py-10 mx-auto">
      <div class="text-[#A7A7A8] flex justify-between">
        <p>Pagar con</p>
        <p>Recibirás</p>
      </div>
      <div class="flex flex-col gap-8">
        <div [ngClass]="paymentMethod? 'border-2 border-binance-yellow' : 'border-[#A7A7A8]'" class="flex flex-col border border-[#A7A7A8] rounded-xl gap-2 p-5 cursor-pointer md:p-6" (click)="togglePaymentMethod()">
          <div class="flex justify-between w-full font-medium">
            <p>Balance en cuenta</p>
            <p>{{buyForm.getRawValue().purchaseAmount}} {{selectedCrypto.symbol | uppercase}}</p>
          </div>
          <div class="flex flex-col justify-start">
            <p>{{wallet | currency}}</p>
            <div *ngIf="wallet < buyForm.getRawValue().saleAmount" class="flex gap-1">
              <p>Balance insuficiente</p>
              <a href="" class="text-binance-yellow hover:text-binance-mustard">Depositar</a>
            </div>
          </div>
        </div>
        <div class="flex justify-between">
          <div class="flex flex-col">
            <p class="text-[#A7A7A8]">Pagarás</p>
            <p>{{buyForm.getRawValue().saleAmount | currency}}</p>
          </div>
          <button [ngClass]="paymentMethod? 'bg-binance-yellow hover:opacity-90' : 'bg-binance-yellow/50'" type="button" class="px-6 py-3 text-base font-medium rounded-md" [disabled]="!paymentMethod" (click)="increaseStep()">Confirmar</button>
        </div>        
      </div>    
    </div>
  </div>

  <div *ngIf="formStep === 3" class="flex flex-col gap-5 mx-auto">
    <div class="relative text-center">
      <div class="absolute flex h-full font-medium cursor-pointer md:text-xl"
        (click)="decreaseStep()">
        <p class="m-auto"><fa-icon class="me-1" [icon]="faAngleLeft"></fa-icon>atras</p>
      </div>
      <p class="font-medium md:text-2xl">Confirmar compra</p>
    </div>
    <div class="max-w-[573px] w-full flex flex-col gap-5 mx-auto">
      <div class="flex items-center justify-between p-5 font-semibold bg-binance-gray">
        <div class="flex flex-col">
          <p>ARS</p>
          <p>{{buyForm.getRawValue().saleAmount | currency}}</p>
        </div>
        <fa-icon [icon]="faArrowRight"></fa-icon>
        <div class="flex flex-col">
          <div class="flex items-end gap-1">
            <img class="w-5 m-auto aspect-auto" src="{{selectedCrypto.image}}" alt="">
            <p>{{selectedCrypto.symbol | uppercase}}</p>
          </div>
          <p class="text-end">{{buyForm.getRawValue().purchaseAmount}}</p>
        </div>
      </div>
      <div class="flex flex-col gap-4 font-semibold">
        <div class="flex justify-between">
          <p>Pagar con</p>
          <p class="text-end">Dinero en cuenta</p>
        </div>
        <div class="flex justify-between">
          <p>Precio</p>
          <p class="text-end">1 {{selectedCrypto.symbol | uppercase}} = {{selectedCrypto.current_price * 475 | currency}} ARS</p>
        </div>
        <div class="flex justify-between">
          <p>Recibes</p>
          <p class="text-end">{{buyForm.getRawValue().purchaseAmount}} {{selectedCrypto.symbol | uppercase}}</p>
        </div>
        <div class="flex justify-between">
          <p>Comisión</p>
          <p class="text-end">0.00 ARS</p>
        </div>
        <div class="flex justify-between">
          <p>Total</p>
          <p class="text-end">{{buyForm.getRawValue().saleAmount | currency}} ARS</p>
        </div>
      </div>
      <button type="submit" class="px-6 py-3 text-base font-medium rounded-md bg-binance-yellow hover:opacity-90">Confirmar</button>
    </div>
  </div>
</form>

<div *ngIf="formStep === 4" class="flex flex-col justify-center max-w-[573px] gap-10 mx-auto">
  <p class="text-2xl font-semibold text-center">Compra Realizada</p>
  <div class="w-[390px] aspect-auto flex m-auto">
    <img class="m-auto" src="../../../../../assets/images/compra-realizada.png" alt="">
  </div>
  <div class="flex flex-col items-center gap-10 mt-10">
    <p class="text-xl font-bold">Mira tu balance en Spot Wallet</p>
    <a routerLink="/dashboard" class="w-full px-6 py-3 text-base font-medium text-center rounded-md bg-binance-yellow hover:opacity-90">Ir a la billetera</a>
    <a routerLink="/crypto" class="text-xl font-semibold text-binance-yellow hover:text-binance-mustard">Comprar cripto</a>
  </div>
</div>