<p class="FontSize20 ColorDarkGray3 My20">Wallets</p>
<div class="Flex Row JustifyBetween ItemsCenter Mt40">
  <div>
    <div class="Flex Row ItemsCenter">
      <p class="ColorDarkGray3">USD</p>
      <i class="ri-arrow-drop-down-line ColorDarkGray3"></i>
    </div>
    <p class="Font600 FontSize10 ColorLightGray1 Mt5">Market Value</p>
  </div>
  <div class="Flex Col ItemsEnd">
    <p class="FontTransformY FontLato Font700 FontSize12 ColorDarkGray3 Mb5">
      $ 159 001.212
    </p>
    <p class="Font600 FontSize10 ColorLightGray1 Mt5">Total Balance</p>
  </div>
</div>
<hr />

<div *ngFor="let item of lista">
  <app-wallet-item [item]="item" class="WalletItem My30"></app-wallet-item>
</div>
