<nav class="text-gray-600 grid grid-flow-row gap-0 border-2  w-[20vw] transition-all duration-300 ease-linear" >
  <a href="" class="w-full h-20 flex flex-row justify-center hover:bg-gray-300 items-center menu-option">
    <div class="flex justify-center items-center  w-1/6">
      <fa-icon [icon]="faUser"></fa-icon>
    </div>
    <div class="w-5/6">
      <h3>Panel de usuario</h3>
    </div>
  </a>
  <a href="" class="w-full h-20 flex justify-center items-center hover:bg-gray-300 menu-option transition-all duration-300 ease-linear">
    <div class="flex justify-center items-center  w-1/6">
      <fa-icon [icon]="faIdCard"></fa-icon>
    </div>
    <div class="w-5/6">
      <h3>Identificación</h3>
    </div>

  </a>
  <a href="" class="w-full h-20 flex justify-center items-center hover:bg-gray-300 menu-option">
    <div class="flex justify-center items-center  w-1/6">
      <fa-icon [icon]="faShield"></fa-icon>
    </div>
    <div class="w-5/6">
      <h3>Seguridad</h3>
    </div>

  </a>
  <a href="" class="w-full h-20 flex justify-center items-center hover:bg-gray-300 menu-option">
    <div class="flex justify-center items-center  w-1/6">
      <fa-icon [icon]="faCoins"></fa-icon>
    </div>
    <div class="w-5/6">
      <h3>Pago</h3>
    </div>

  </a>
  <a href="" class="w-full h-20 flex justify-center items-center hover:bg-gray-300 menu-option">
    <div class="flex justify-center items-center  w-1/6">
      <fa-icon [icon]="faUserPlus"></fa-icon>
    </div>
    <div class="w-5/6">
      <h3>Programa de referidos</h3>
    </div>

  </a>
  <a href="" class="w-full h-20 flex justify-center items-center hover:bg-gray-300 menu-option">
    <div class="flex justify-center items-center  w-1/6">
      <fa-icon [icon]="faGift"></fa-icon>
    </div>
    <div class="w-5/6">
      <h3>Centro de recompensas</h3>
    </div>

  </a>
  <a href="" class="w-full h-20 flex justify-center items-center hover:bg-gray-300 menu-option">
    <div class="flex justify-center items-center  w-1/6">
      <fa-icon [icon]="faClipboardList"></fa-icon>
    </div>
    <div class="w-5/6">
      <h3>Centro de tareas</h3>
    </div>

  </a>
  <a href="" class="w-full h-20 flex justify-center items-center hover:bg-gray-300 menu-option">
    <div class="flex justify-center items-center  w-1/6">
      <fa-icon [icon]="faArrowsToDot"></fa-icon>
    </div>
    <div class="w-5/6">
      <h3>Gestion de API</h3>
    </div>

  </a>
  <a href="" class="w-full h-20 flex justify-center items-center hover:bg-gray-300 menu-option">
    <div class="flex justify-center items-center  w-1/6">
      <fa-icon [icon]="faUserGroup"></fa-icon>
    </div>
    <div class="w-5/6">
      <h3>Subcuentas</h3>
    </div>

  </a>
  <a href="" class="w-full h-20 flex justify-center items-center hover:bg-gray-300 menu-option">
    <div class="flex justify-center items-center  w-1/6">
      <fa-icon [icon]="faGear"></fa-icon>
    </div>
    <div class="w-5/6">
      <h3>Ajustes</h3>
    </div>

  </a>
  <a href="" class="w-full h-20 flex justify-center items-center">
    <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
    Cerrar sesion
  </a>
</nav>
