// .author {
//   &__images {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     gap: 1.5rem;
//   }
// }

// div.container {
//   margin: 20px;

//   .image-card {
//     max-width: 450px;
//   }


// }


// .author__images {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   gap: 1.5rem;
// }



.custom-grid {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-Fit, minmax(16rem, 1fr));
  gap: 1rem;
  margin: 0 auto;
}
