<ng-container>
  <app-carousel></app-carousel>
</ng-container>

<ng-container>
  <app-jumbotron></app-jumbotron>
</ng-container>

<section class="custom-grid px-4 mt-24 pt-24 lg:max-w-[1200px]">
  <div *ngFor="let nft of nfts">
    <div
      class="block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700"
    >
      <div
        class="relative overflow-hidden bg-cover bg-no-repeat max-h-[250px] w-full"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <img
          class="rounded-t-lg w-full h-auto object-cover"
          [src]="nft.fileUrl"
          alt=""
        />
        <a href="#!">
          <div
            class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsla(0,0%,98%,0.15)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
          ></div>
        </a>
      </div>
      <div class="p-6">
        <h5
          class="mb-2 text-base font-medium leading-tight text-binance-dark-gray dark:text-neutral-50"
        >
          {{ nft.title }}
        </h5>
        <p class="mb-4 text-sm text-neutral-600 dark:text-neutral-200">
          {{ nft.description }}
        </p>
        <button
          type="button"
          (click)="detailNft(nft)"
          class="inline-block rounded bg-binance-yellow px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-binance-dark-gray shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-binance-yellow hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-binance-yellow focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-binance-yellow/75 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
        >
          Mas info...
        </button>
      </div>
    </div>
  </div>
</section>
