<div class="fixed top-0 z-10 w-full ">

  <!-- navbar -->
  <div class="absolute flex justify-between w-full p-5 bg-white lg:justify-between">
    <div class="flex gap-5 lg:flex">
      <div class="flex gap-2 cursor-pointer" routerLink="/">
        <img src="../../../assets/images/Binance_Logo.png" class="w-7 h-7" alt="">
        <h1 class="text-xl font-bold text-binance-yellow">BINANCE</h1>
      </div>
      <div class="flex gap-5">
        <p  class="hover:text-binance-mustard">Comprar Cripto</p>
        <p  class="hover:text-binance-mustard">Mercado</p>
      </div>
    </div>
    <div class="flex flex-row gap-2 mr-5">
      <div class="flex gap-5">        
        <button routerLink="/login" class="hidden p-1 border-black hover:text-binance-mustard lg:block ">Iniciar sesión</button>
        <button routerLink="/register" class="hidden p-1 px-3 border-black rounded lg:block bg-binance-yellow hover:opacity-90">Registrarse</button>
      </div>
      <fa-icon [icon]="faBars" class="block p-1 bg-white lg:hidden" (click)="menu()">menu</fa-icon>
    </div>
  </div>

  <!-- sidebar -->
  <div [ngClass]="isMenuOpen? 'right-0' : 'right-[-400px]'"
    class="lg:hidden absolute min-h-screen max-w-[420px] w-full bg-gray-100 duration-200 flex p-5 overflow-y-scroll ">
    <div class="flex-grow ">
      <div class="flex justify-end">
        <fa-icon [icon]="faX" class="flex p-1 text-sm lg:hidden" (click)="menu()">menu</fa-icon>
      </div>
      <div class="flex flex-col justify-center max-h-screen gap-10">
        <div class="flex flex-col gap-2">
          <button routerLink="/login" class="p-1 border-black hover:text-binance-mustard lg:hidden">Iniciar sesión</button>
          <button routerLink="/register" class="p-1 border-black rounded lg:hidden bg-binance-yellow hover:opacity-90">Registrarse</button>
        </div>
        <div class="flex flex-col gap-2 Binance__Links" >
          <a class="flex gap-2 p-2" id="link"><fa-icon [icon]="faCoin" class="p-1 rounded lg:hidden" id="icono"></fa-icon>Comprar cripto</a>
          <a class="flex gap-2 p-2"><fa-icon [icon]="faChart" class="p-1 border-black rounded lg:hidden" id="icono"></fa-icon>Mercados</a>
        </div>
      </div>
    </div>
  </div>

</div>