.text-gradient {
      background: linear-gradient(to right, #00ff00, #0000ff);
      -webkit-text-fill-color: transparent;
    }

  .css-12nnkcx {
    text-size-adjust: 100%;
    font-weight: 400;
    font-family: BinancePlex, Arial, sans-serif !important;
    --text-color: #e6e6e6;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    user-select: none;
    pointer-events: auto;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px 16px 0px 0px;
    min-width: 0px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-right: 0px;
    margin-top: 4rem;
    margin-bottom: 12rem;
  }

  .css-x0dwiq {
    text-size-adjust: 100%;
    font-weight: 400;
    font-family: BinancePlex, Arial, sans-serif !important;
    --text-color: #e6e6e6;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    pointer-events: auto;
    color: rgb(35, 35, 35);
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    padding: 0px;
    margin: 0px 0px 8px;
    min-width: 0px;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: rgba(24, 26, 32, 0.1) 0px 0px 1px,
      rgba(71, 77, 87, 0.04) 0px 3px 6px, rgba(24, 26, 32, 0.04) 0px 1px 2px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding-bottom: 0px;
  }

  .css-1n0rtc0 {
    text-size-adjust: 100%;
    font-weight: 400;
    font-family: BinancePlex, Arial, sans-serif !important;
    --text-color: #e6e6e6;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    pointer-events: auto;
    color: rgb(35, 35, 35);
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: relative;
    width: 100%;
    height: 123px;
  }

  .css-hr04qc {
    text-size-adjust: 100%;
    font-weight: 400;
    font-family: BinancePlex, Arial, sans-serif !important;
    --text-color: #e6e6e6;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    pointer-events: auto;
    color: rgb(35, 35, 35);
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
  }

  .css-spt8x2 {
    text-size-adjust: 100%;
    font-weight: 400;
    font-family: BinancePlex, Arial, sans-serif !important;
    --text-color: #e6e6e6;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    user-select: none;
    pointer-events: auto;
    color: rgb(35, 35, 35);
    -webkit-tap-highlight-color: transparent;
    outline: none;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: absolute;
    left: 12px;
    border-radius: 34%;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    bottom: -40px;
    width: 60px;
  }

  .css-qx3vov {
    text-size-adjust: 100%;
    font-weight: 400;
    font-family: BinancePlex, Arial, sans-serif !important;
    --text-color: #e6e6e6;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    user-select: none;
    pointer-events: auto;
    color: rgb(35, 35, 35);
    -webkit-tap-highlight-color: transparent;
    outline: none;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px 16px 0px 0px;
    min-width: 0px;
    position: relative;
    width: 60px;
    height: 60px;
  }
  .css-alnszv {
    text-size-adjust: 100%;
    font-weight: 400;
    font-family: BinancePlex, Arial, sans-serif !important;
    --text-color: #e6e6e6;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    user-select: none;
    pointer-events: auto;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    font-size: 100%;
    fill: rgb(255, 255, 255);
    position: absolute;
  }
  .css-1ehyqbw {
    text-size-adjust: 100%;
    font-weight: 400;
    font-family: BinancePlex, Arial, sans-serif !important;
    --text-color: #e6e6e6;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    user-select: none;
    pointer-events: auto;
    color: rgb(35, 35, 35);
    -webkit-tap-highlight-color: transparent;
    outline: none;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: contents;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
    flex-shrink: 0;
  }
  .css-eq7ejj {
    text-size-adjust: 100%;
    font-weight: 400;
    font-family: BinancePlex, Arial, sans-serif !important;
    --text-color: #e6e6e6;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    user-select: none;
    pointer-events: auto;
    color: rgb(35, 35, 35);
    -webkit-tap-highlight-color: transparent;
    outline: none;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 7rem;
    margin-top: 12px;
  }
  .css-nekt17 {
    text-size-adjust: 100%;
    font-family: BinancePlex, Arial, sans-serif !important;
    --text-color: #e6e6e6;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    user-select: none;
    pointer-events: auto;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 500;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: rgb(30, 35, 41);
    font-size: 14px;
  }

  .css-x2gp5l {
    text-size-adjust: 100%;
    font-weight: 400;
    font-family: BinancePlex, Arial, sans-serif !important;
    --text-color: #e6e6e6;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    pointer-events: auto;
    color: rgb(35, 35, 35);
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    padding: 0px;
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 0;
  }
  .css-ryevcu {
    text-size-adjust: 100%;
    font-weight: 400;
    font-family: BinancePlex, Arial, sans-serif !important;
    --text-color: #e6e6e6;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    pointer-events: auto;
    color: rgb(35, 35, 35);
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    padding: 0px;
    box-sizing: border-box;
    margin: 16px 0px 0px;
    min-width: 0px;
    display: flex;
    padding-left: 12px;
    padding-right: 12px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 20px;
  }
  .css-10nf7hq {
    text-size-adjust: 100%;
    font-weight: 400;
    font-family: BinancePlex, Arial, sans-serif !important;
    --text-color: #e6e6e6;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    pointer-events: auto;
    color: rgb(35, 35, 35);
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    padding: 0px;
    box-sizing: border-box;
    margin: 16px 0px 0px;
    min-width: 0px;
    display: flex;
    padding-left: 12px;
    padding-right: 12px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .css-1833vnl {
    text-size-adjust: 100%;
    font-family: BinancePlex, Arial, sans-serif !important;
    --text-color: #e6e6e6;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    pointer-events: auto;
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px 4px 0px 0px;
    min-width: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgb(71, 77, 87);
  }
  .css-161jes6 {
    text-size-adjust: 100%;
    font-family: BinancePlex, Arial, sans-serif !important;
    --text-color: #e6e6e6;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    pointer-events: auto;
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px 8px 0px 0px;
    min-width: 0px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(30, 35, 41);
    font-weight: 700;
  }
  .css-1imu77q {
    text-size-adjust: 100%;
    font-family: BinancePlex, Arial, sans-serif !important;
    --text-color: #e6e6e6;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    pointer-events: auto;
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgb(3, 166, 109);
  }

  .css-10nf7hq {
    text-size-adjust: 100%;
    font-weight: 400;
    font-family: BinancePlex, Arial, sans-serif !important;
    --text-color: #e6e6e6;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    pointer-events: auto;
    color: rgb(35, 35, 35);
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    padding: 0px;
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }

  .css-113zbap {
    text-size-adjust: 100%;
    font-family: BinancePlex, Arial, sans-serif !important;
    --text-color: #e6e6e6;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    pointer-events: auto;
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(30, 35, 41);
    font-weight: 700;
  }

  .css-113zbap {
    text-size-adjust: 100%;
    font-family: BinancePlex, Arial, sans-serif !important;
    --text-color: #e6e6e6;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    pointer-events: auto;
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(30, 35, 41);
    font-weight: 700;
  }

