<div class="m-auto p-5 w-full flex flex-col">

    <div class="grid grid-cols-3 gap-4 sm:grid sm:grid-cols-6">

        <div class="footer-about flex flex-col">
            <div class="Footer-SobreNosotros flex flex-col gap-2">
                <h1 class="font-bold text-xl">Sobre Nosotros</h1>
                <div class="text-gray-600 flex flex-col gap-4">
                    <h4>Acerca</h4>
                    <h4>Prensa</h4>
                    <h4>Carreras</h4>
                    <h4>Contactos para negocios</h4>
                    <h4>Comunidad</h4>
                    <h4>Legal</h4>
                    <h4>Términos y privacidad</h4>
                    <h4>Advertencia de riesgo</h4>
                </div>
            </div>
        </div>

        <div class="Footer-Productos flex flex-col ">
            <h1 class="font-bold text-xl mb-3">Productos</h1>
            <div class="text-gray-600 flex flex-col gap-4">
                <h4>Exchange</h4>
                <h4>Academy</h4>
                <h4>Binance en vivo</h4>
                <h4>Charity</h4>
                <h4>Card</h4>
                <h4>Trust Wallet</h4>
                <h4>NFT</h4>
                <h4>Binance Pay</h4>
                <h4>Binance Gift Card</h4>
                <h4>BABT</h4>
            </div>

        </div>

        <div class="Footer-Servicios flex flex-col ">
            <h1 class="font-bold text-xl mb-3">Servicios</h1>
            <div class="text-gray-600 flex flex-col gap-4">
                <h4>Descargar</h4>
                <h4>Aplicacion de escritorio</h4>
                <h4>Compra Cripto</h4>
                <h4>Programa de referido</h4>
                <h4>Programa de afiliados</h4>
                <h4>BNB</h4>
            </div>

        </div>

        <div class="Footer-Servicios flex flex-col  ">
            <h1 class="font-bold text-xl mb-3">Soporte</h1>
            <div class="text-gray-600 flex flex-col gap-4 ">
                <h4>Centro de Soporte</h4>
                <h4>Chat de soporte 24/7</h4>
                <h4>Comisiones</h4>
                <h4>Reglas de Trading</h4>
                <h4>Verificación de Binance</h4>
                <h4>Binance Legal (Órdenes Judiciales)</h4>
            </div>

        </div>
        <div class="Footer-Servicios flex flex-col">
            <h1 class="font-bold text-xl mb-3">Conocer más</h1>
            <div class="text-gray-600 flex flex-col gap-4">
                <h4>Aprende y gana</h4>
                <h4>Precio Bitcoin</h4>
                <h4>Precio Ethereum</h4>
            </div>

        </div>

        <div class="Footer-Servicios flex flex-col gap-2">
            <h1 class="font-bold text-xl mb-3">Comunidad</h1>
            <div class="flex flex-wrap gap-4 text-2xl">
                <h4><fa-icon [icon]="faDiscord"></fa-icon></h4>
                <h4><fa-icon [icon]="faTelegram"></fa-icon></h4>
                <h4><fa-icon [icon]="faTwitter"></fa-icon></h4>
                <h4><fa-icon [icon]="faFacebook"></fa-icon></h4>
                <h4><fa-icon [icon]="faYoutube"></fa-icon></h4>
                <h4><fa-icon [icon]="faTiktok"></fa-icon></h4>
                <h4><fa-icon [icon]="faInstagram"></fa-icon></h4>
            </div>

        </div>

    </div>
</div>