<div class="flex flex-col place-items-center h-screen justify-center">
    <form [formGroup]="form" (ngSubmit)="singUp()">
        <div *ngIf="step === 0" class="flex flex-col w-[500px]">
            <p class="text-3xl font-semibold mb-7">Crear cuenta personal</p>
            <div class="flex flex-col gap-5">
                <div>Email</div>
                <input type="email" class="border border-spacing-1 h-11 p-3 rounded-md focus:border-binance-yellow focus:outline-none" formControlName="email">
                <div *ngIf="form.controls.email.touched && form.controls.email.invalid">
                    <p
                      *ngIf="form.controls.email.hasError('required')"
                      class="mt-1 ml-1 text-xs font-medium text-red-500"
                    >
                      Este campo es obligatorio
                    </p>
                    <p
                      *ngIf="form.controls.email.hasError('email')"
                      class="mt-1 ml-1 text-xs font-medium text-red-500"
                    >
                      Este campo debe contener un email válido
                    </p>
                </div>
                <button (click)="increaseStep(); emailVerification()" class="bg-binance-yellow hover:opacity-90 px-6 py-3 rounded-md" [ngClass]="{'cursor-not-allowed': form.controls.email.invalid}"
                [disabled]="form.controls.email.invalid"
                >Siguiente</button>
                <div class="flex gap-2">
                    <span>¿Ya tienes cuenta?</span><a routerLink="/login" class="text-binance-mustard">Iniciar sesión</a>
                </div>
            </div>
        </div>

        <div *ngIf="step === 1" class="w-[700px] flex flex-col items-center">
            <!-- <div class="flex justify-items-start w-full">
                <button (click)="decreaseStep()" class="text-[#707A8A] hover:text-black"><fa-icon [icon]="faAngleLeft" class="p-2"></fa-icon>Volver</button>
            </div> -->
            <div class="h-10"></div>
            <div class="flex flex-col w-[500px]">
                <p class="text-3xl font-semibold mb-7">Verificación de correo electrónico</p>
                <div class="flex flex-col gap-5">
                    <div>Ingresa el código de verificación de 6 dígitos enviado a <strong>{{ form.get('email')?.value }}</strong>. El código es válido durante 30 minutos.</div>
                    <div>Código de verificación por email</div>
                    <input type="text" class="no-spinner border border-spacing-1 h-11 p-3 rounded-md text-end focus:border-binance-yellow focus:outline-none" placeholder="Código de verficación enviado" >
                    <div *ngIf="form.controls.verificationCode.touched && form.controls.verificationCode.invalid">
                        <p
                          *ngIf="form.controls.verificationCode.hasError('required')"
                          class="mt-1 ml-1 text-xs font-medium text-red-500"
                        >
                          Este campo es obligatorio
                        </p>
                        <p
                        *ngIf="form.controls.verificationCode.hasError('minlength')"
                        class="mt-1 ml-1 text-xs font-medium text-red-500">
                        Ingresa 6 dígitos
                        </p>
                        <p
                        *ngIf="form.controls.verificationCode.hasError('maxlength')"
                        class="mt-1 ml-1 text-xs font-medium text-red-500">
                        Ingresa 6 dígitos
                        </p>
                        <p
                        *ngIf="form.controls.verificationCode.hasError('pattern')"
                        class="mt-1 ml-1 text-xs font-medium text-red-500">
                        Ingresa solo números
                        </p>
                    </div>
                    <button [disabled]="form.controls.verificationCode.invalid" (click)="increaseStep(); sendCode()" class="bg-binance-yellow hover:opacity-90 px-6 py-3 rounded-md"
                    [ngClass]="{'cursor-not-allowed': form.controls.verificationCode.invalid}"
                    >Enviar</button>
                </div>
            </div>
        </div>

        <div *ngIf="step === 2" class="flex flex-col w-[500px]">
            <p class="text-3xl font-semibold mb-7">Crear username y contraseña</p>
            <div>Username</div>
            <input type="text" formControlName="username" class="border border-spacing-1 h-11 p-3 rounded-md focus:border-binance-yellow focus:outline-none">
            <div *ngIf="form.controls.username.touched && form.controls.username.invalid">
                <p
                  *ngIf="form.controls.username.hasError('required')"
                  class="mt-1 ml-1 text-xs font-medium text-red-500"
                >
                  Este campo es obligatorio
                </p>
            </div>
            <div class="flex flex-col gap-5">
                <p>Contraseña</p>
                <div class="border border-spacing-1 h-11 p-3 rounded-md focus:border-binance-yellow
                cursor-pointer transition-all duration-300 hover:border-binance-yellow active:border-binance-yellow flex w-full
                "
                >
                <ng-container *ngIf="eyes === false">
                    <input type="password" class="w-[450px] focus:border-none focus:outline-none" formControlName="password">
                    <fa-icon [icon]="faEyeSlash" (click)="faEyes()"></fa-icon>
                </ng-container>
                <ng-container *ngIf="eyes === true">
                    <input type="text" class="w-[450px] focus:border-none focus:outline-none" formControlName="password">
                    <fa-icon [icon]="faEye" (click)="faEyes()"></fa-icon>
                </ng-container>
                </div>
                <div *ngIf="form.controls.password.touched && form.controls.password.invalid">
                    <p
                    *ngIf="form.controls.password.hasError('required')"
                    class="mt-1 ml-1 text-xs font-medium text-red-500"
                    >
                    Este campo es obligatorio
                    </p>
                    <p
                    *ngIf="form.controls.password.hasError('pattern')"
                    class="mt-1 ml-1 text-xs font-medium text-red-500"
                    >
                    Este campo debe contener al menos una letra mayúscula, una minúscula, un número, un caracter especial y un mínimo de 8 caracteres y un máximo de 128 caracteres.
                    </p>
                </div>
                <button type="button" [disabled]="form.controls.password.invalid || form.controls.username.invalid"  (click)="increaseStep()" class="bg-binance-yellow hover:opacity-90 px-6 py-3 rounded-md"
                [ngClass]="{'cursor-not-allowed': form.controls.password.invalid && form.controls.username.invalid}"
                >Siguiente</button>
            </div>
        </div>

        <div *ngIf="step === 3" class="flex flex-col w-[500px]">
            <p class="text-3xl font-semibold mb-7">Verifícate</p>
            <p>Selecciona un país de residencia y sigue los pasos.</p>
            <div class="h-6"></div>
        
            <p>Nacionalidad</p>
            <input type="text" formControlName="nationality" class="border border-spacing-1 h-11 p-3 rounded-md focus:border-binance-yellow focus:outline-none">

            <div class="h-4"></div>
            <p>Nombre legal</p>
            <input type="text" formControlName="legalName" class="border border-spacing-1 h-11 p-3 rounded-md focus:border-binance-yellow focus:outline-none" placeholder="Nombre/s">
            <div class="h-2"></div>
            <p>Apellido legal</p>
            <input type="text" formControlName="legalLastName" class="border border-spacing-1 h-11 p-3 rounded-md focus:border-binance-yellow focus:outline-none" placeholder="Apellido/s">
            <div class="h-6"></div>
            <p>Tal como se muestra en tu pasaporte o carnet de identidad. Utiliza el mismo idioma que en tu documento.</p>
            <div class="h-6"></div>
            <p>Fecha de nacimiento</p>
            <div class="flex gap-2 w-auto">
                <input type="date" formControlName="birthdate" class="w-full text-right border border-gray-400 rounded-md h-11 p-3 no-spinner focus:border-binance-yellow focus:outline-none" placeholder="DD">
            </div>
            <div class="h-6"></div>
            <div class="flex justify-items-start w-full gap-4">
                <button (click)="decreaseStep()" class="text-[#707A8A] hover:text-black"><fa-icon [icon]="faAngleLeft" class="p-2"></fa-icon>Atrás</button>
                <button type="button"  (click)="increaseStep()" class="bg-binance-yellow hover:opacity-90 px-6 py-3 rounded-md">Continuar</button>
            </div>
        </div>

        <div *ngIf="step === 4" class="flex flex-col w-[500px] gap-4">
            <p class="text-3xl font-semibold mb-7">Dirección de domicilio permanente</p>
            <p>Ingresa tu dirección de domicilio actual.</p>
            <div class="h-4"></div>
            <p>Dirección completa</p>
            <input type="text" formControlName="fullAddress" class="border border-spacing-1 h-11 p-3 rounded-md focus:border-binance-yellow focus:outline-none">
            <p>Código postal</p>
            <input type="text" formControlName="zipCode" class="border border-spacing-1 h-11 p-3 rounded-md focus:border-binance-yellow focus:outline-none">
            <div *ngIf="form.controls.zipCode.touched">
                <p
                  *ngIf="form.controls.zipCode.hasError('required')"
                  class="mt-1 ml-1 text-xs font-medium text-red-500"
                >
                  Este campo es obligatorio
                </p>
                <p
                *ngIf="form.controls.zipCode.hasError('pattern')"
                class="mt-1 ml-1 text-xs font-medium text-red-500">
                Ingresa solo números
                </p>
            </div>
            <p>Ciudad</p>
            <input type="text" formControlName="city" class="border border-spacing-1 h-11 p-3 rounded-md focus:border-binance-yellow focus:outline-none">
            <p>País / Región</p>
            <input type="text" formControlName="country" class="bg-[#EFF0F2] border border-[#EFF0F2] border-spacing-1 h-11 p-3 rounded-md focus:border-binance-yellow focus:outline-none">
            <div class="bg-[#FFF0F2] py-2 px-4 flex gap-2 rounded-md items-center">
                <fa-icon class="text-[#F6465D]" [icon]="faExclamationCircle"></fa-icon>
                <small>La dirección debe incluir toda la información (incluido cualquier número de casa / apartamento).</small>
            </div>
            <p>Username</p>
            <input type="text" formControlName="username" class="border border-spacing-1 h-11 p-3 rounded-md focus:border-binance-yellow focus:outline-none">
            <div class="h-6"></div>
            <div class="flex items-start gap-2">
                <input type="checkbox" formControlName="agree" class="flex border cursor-pointer checked:bg-binance-yellow">
                <p>Al crear una cuenta, acepto los <strong>Términos de servicio</strong> y la <strong>Política de privacidad</strong></p>
            </div>
            <p
            *ngIf="form.controls.agree.invalid"
            class="mt-1 ml-1 text-xs font-medium text-red-500"
            >
            Para continuar debes aceptar los términos de servicio y política de privacidad.
            </p>
            <div class="flex justify-items-start w-full gap-4">
                <button (click)="decreaseStep()" class="text-[#707A8A] hover:text-black"><fa-icon [icon]="faAngleLeft" class="p-2"></fa-icon>Atrás</button>
                <button type="submit"  (click)="increaseStep()" class="bg-binance-yellow hover:opacity-90 px-6 py-3 rounded-md"
                [disabled]="form.invalid"
                [ngClass]="{'cursor-not-allowed': form.invalid}"
                >Continuar</button>
            </div>
        </div>

        <div *ngIf="step === 5" class="flex flex-col w-[500px] items-center">
            <img width="100" src="./../../../assets/images/userCheck.png" alt="user check">
            <p class="text-3xl text-center font-semibold mb-7 w-80">Cuenta creada correctamente</p>
            <button routerLink="/dashboard" (click)="increaseStep()" class="bg-binance-yellow hover:opacity-90 px-6 py-3 rounded-md w-full">Siguiente</button>
        </div>

    </form>

</div>
