<!-- <section class="bg-bg-first min-h-screen min-w-[100vw] flex justify-center items-center">
  <div
    class="animate-spin inline-block w-14 h-14 border-[3px] border-current border-t-transparent text-primary-color rounded-full"
    role="status" aria-label="loading">
    <span class="sr-only">Loading...</span>
  </div>
</section> -->
<section
  class="bg-white dark:bg-black min-h-screen min-w-[100vw] flex justify-center items-center"
>
  <div class="css-eqd87u">
    <div class="css-1dgrtcu">
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>
</section>
