<div class="relative z-[-2] w-full overflow-hidden text-dark-gray bg-light-gray">
  <div class="absolute z-[-1] top-[150px] rotate-[-40deg] left-[-100px]">
    <div class="w-[400px] bg-gray h-[80px] relative">
      <div class="w-[400px] bg-gray h-[180px] custom-radius top-[-90px] absolute"></div>
      <div class="w-[400px] bg-gray h-[180px] custom-radius bottom-[-90px] absolute"></div>
    </div>
  </div>
  <div class="absolute z-[-1] bottom-[0px] right-[800px] rotate-[40deg]">
    <div class="w-[500px] bg-gray h-[150px] relative">
      <div class="w-[500px] bg-gray h-[180px] custom-radius top-[-90px] absolute"></div>
      <div class="w-[500px] bg-gray h-[180px] custom-radius bottom-[-90px] absolute"></div>
    </div>
  </div>
  <div class="absolute z-[-1] bottom-[-100px] md:bottom-[500px] right-[-100px] md:right-[-300px] rotate-[-60deg]">
    <div class="w-[500px] bg-gray h-[150px] relative">
      <div class="w-[500px] bg-gray h-[180px] custom-radius top-[-90px] absolute"></div>
      <div class="w-[500px] bg-gray h-[180px] custom-radius bottom-[-90px] absolute"></div>
    </div>
  </div>
  <div class="max-w-[1248px] px-4 md:px-6 mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-2 py-[107px]">
      <div class="flex flex-col order-2 lg:items-start gap-14 lg:order-1">
        <p class="text-[32px] md:text-[40px] font-semibold">Compra, haz trading y holding de más de 350 criptomonedas en
          Binance.</p>
        <button class="px-6 py-3 text-base font-medium rounded-md lg:w-96 bg-yellow hover:opacity-90"><fa-icon
            class="me-2" [icon]="faUser"></fa-icon> Registrarse con email o teléfono
        </button>
      </div>
      <div class="justify-center order-1 hidden lg:justify-end md:flex lg:order-2">
        <img class="pointer-events-none" src="../../assets/images/landing/foreground-image-light-1.png" alt="">
      </div>
    </div>
    <div class="grid grid-cols-2 gap-4 pb-20 md:gap-12 lg:grid-cols-4">
      <div>
        <p class="font-semibold text-2xl md:text-[40px] leading-[32px] md:leading-[48px]">38 mil millones de dólares</p>
        <p class="text-xs md:text-base">Volumen de trading en 24 horas en el exchange de Binance</p>
      </div>
      <div>
        <p class="font-semibold text-2xl md:text-[40px] leading-[32px] md:leading-[48px]">Más de 350</p>
        <p class="text-xs md:text-base">Criptomonedas listadas</p>
      </div>
      <div>
        <p class="font-semibold text-2xl md:text-[40px] leading-[32px] md:leading-[48px]">120 millones</p>
        <p class="text-xs md:text-base">de usuarios registrados</p>
      </div>
      <div>
        <p class="font-semibold text-2xl md:text-[40px] leading-[32px] md:leading-[48px]">&lt;0.10%</p>
        <p class="text-xs md:text-base">Las comisiones por transacción más bajas</p>
      </div>
    </div>
  </div>
</div>