<div class="relative w-full overflow-hidden bg-binance-light-gray text-binance-dark-gray">
  <div class="absolute top-[150px] rotate-[-40deg] left-[-100px]">
    <div class="w-[400px] bg-binance-gray h-[80px] relative">
      <div class="w-[400px] bg-binance-gray h-[180px] custom-radius top-[-90px] absolute"></div>
      <div class="w-[400px] bg-binance-gray h-[180px] custom-radius bottom-[-90px] absolute"></div>
    </div>
  </div>
  <div class="absolute bottom-[0px] right-[800px] rotate-[40deg]">
    <div class="w-[500px] bg-binance-gray h-[150px] relative">
      <div class="w-[500px] bg-binance-gray h-[180px] custom-radius top-[-90px] absolute"></div>
      <div class="w-[500px] bg-binance-gray h-[180px] custom-radius bottom-[-90px] absolute"></div>
    </div>
  </div>
  <div class="absolute bottom-[-100px] md:bottom-[500px] right-[-100px] md:right-[-300px] rotate-[-60deg]">
    <div class="w-[500px] bg-binance-gray h-[150px] relative">
      <div class="w-[500px] bg-binance-gray h-[180px] custom-radius top-[-90px] absolute"></div>
      <div class="w-[500px] bg-binance-gray h-[180px] custom-radius bottom-[-90px] absolute"></div>
    </div>
  </div>
  <div class="max-w-[1248px] relative px-4 md:px-6 mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-2 py-[107px]">
      <div class="flex flex-col order-2 lg:items-start gap-14 lg:order-1">
        <p class="text-[32px] md:text-[40px] font-semibold">Compra, haz trading y holding de más de 350 criptomonedas en
          Binance.</p>
        <button type="button" class="px-6 py-3 text-base font-medium rounded-md lg:w-96 bg-binance-yellow hover:opacity-90"><fa-icon
            class="me-2" [icon]="faUser"></fa-icon> Registrarse con email
        </button>
      </div>
      <div class="justify-center order-1 hidden lg:justify-end md:flex lg:order-2">
        <img class="pointer-events-none" src="../../assets/images/landing/foreground-image-light-1.png" alt="">
      </div>
    </div>
    <div class="grid grid-cols-2 gap-4 pb-14 lg:pb-20 md:gap-12 lg:grid-cols-4">
      <div>
        <p class="font-semibold text-2xl md:text-[40px] leading-[32px] md:leading-[48px]">38 mil millones de dólares</p>
        <p class="text-xs md:text-base">Volumen de trading en 24 horas en el exchange de Binance</p>
      </div>
      <div>
        <p class="font-semibold text-2xl md:text-[40px] leading-[32px] md:leading-[48px]">Más de 350</p>
        <p class="text-xs md:text-base">Criptomonedas listadas</p>
      </div>
      <div>
        <p class="font-semibold text-2xl md:text-[40px] leading-[32px] md:leading-[48px]">120 millones</p>
        <p class="text-xs md:text-base">de usuarios registrados</p>
      </div>
      <div>
        <p class="font-semibold text-2xl md:text-[40px] leading-[32px] md:leading-[48px]">&lt;0.10%</p>
        <p class="text-xs md:text-base">Las comisiones por transacción más bajas</p>
      </div>
    </div>
  </div>
</div>

<div class="bg-binance-light-gray">
  <div class="bg-white rounded-t-3xl">
    <div class="max-w-[1248px] mx-auto px-4 md:px-6">      
      <div class="py-10 md:py-20">
        <p class="font-semibold mb-12 text-[32px] lg:text-[40px]">Criptomonedas populares</p>
        <div>
          lista de criptos populares
        </div>
        <button class="w-full px-6 py-3 text-base font-medium rounded-md md:w-[200px] bg-binance-yellow hover:opacity-90">Ver más</button>      
      </div>      
      <div class="grid grid-cols-1 py-10 md:py-20 lg:grid-cols-2">
        <div class="flex flex-col">
          <div class="mb-8 md:mb-10 lg:mb-20">
            <p class="font-semibold text-[32px] lg:text-[40px]">Crea tu cartera de criptomonedas</p>
            <p class="mt-4 text-xl text-[#474D57]">Inicia tu primer trading con estos sencillos pasos.</p>
          </div>
          <div class="flex justify-center lg:hidden">
            <img class="w-[190px] lg:w-auto aspect-auto" src="../../assets/images/landing/portfolio-section-1.png" alt="">
          </div>
          <div class="flex flex-col justify-between flex-grow gap-10 pt-10 lg:pt-0 md:gap-16">
            <div class="flex">
              <div>
                <img src="" alt="">
              </div>
              <div class="ms-10">
                <p class="mb-2 text-2xl font-semibold">Deposita en tu cuenta</p>
                <p class="text-[#474D57]">Agrega fondos a tu cuenta de criptomonedas para comenzar a hacer trading con tus criptos. Puedes agregar fondos con una gran variedad de métodos de pago.</p>
              </div>
            </div>
            <div class="flex">
              <div>
                <img src="" alt="">
              </div>
              <div class="ms-10">
                <p class="mb-2 text-2xl font-semibold">Verifica tu identidad</p>
                <p class="text-[#474D57]">Completa el proceso de verificación de identidad para proteger tu cuenta y tus transacciones.</p>
              </div>
            </div>
            <div class="flex">
              <div>
                <img src="" alt="">
              </div>
              <div class="ms-10">
                <p class="mb-2 text-2xl font-semibold">Comienza a hacer trading</p>
                <p class="text-[#474D57]">¡Todo listo! Compra o vende criptomonedas, configura compras recurrentes para tus inversiones y descubre lo que Binance tiene para ofrecer.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="justify-center hidden lg:flex">
          <img src="../../assets/images/landing/portfolio-section-1.png" alt="">
        </div>  
        <div class="mt-16 lg:col-span-2">
          <button class="w-full px-6 py-3 text-base font-medium rounded-md md:w-[200px] bg-binance-yellow hover:opacity-90">Empezar</button>
        </div>      
      </div>      
    </div>    
  </div>
</div>