<app-spinner *ngIf="spinnerService.getSpinnerStatus()"></app-spinner>

<ng-container *ngIf="loading">
  <section
    class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12"
    style="
      background-image: url('../../../../assets/images/nft-2.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    "
  >
    <article
      class="relative py-3 sm:max-w-xl sm:mx-auto lg:max-w-[600px] lg:w-full"
    >
      <section
        class="relative px-4 py-10 bg-white mx-8 md:mx-0 shadow rounded-lg sm:p-10"
      >
        <section class="max-w-md mx-auto">
          <article class="divide-y divide-gray-200">
            <form
              [formGroup]="uploadForm"
              (ngSubmit)="onSubmit()"
              class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7 lg:max-w-[600px] lg:w-full"
            >
              <div
                class="flex flex-col bg-cover bg-center bg-no-repeat"
                [style.background-image]="'url(' + uploadedImage + ')'"
              >
                <div
                  class="file_upload p-5 relative border-4 border-dotted border-gray-300 rounded-lg w-auto min-h-[12rem]"
                >
                  <ng-container *ngIf="!fileCharged">
                    <svg
                      class="text-binance-dark-gray w-24 mx-auto mb-4"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"
                      />
                    </svg>
                  </ng-container>
                  <div
                    class="input_field flex flex-col w-max mx-auto text-center"
                  >
                    <label>
                      <input
                        class="text-sm cursor-pointer w-36 hidden"
                        type="file"
                        (change)="uploadImage($event.target)"
                      />
                      <div
                        class="bg-binance-yellow text-binance-dark-gray font-normal border border-gray-300 rounded cursor-pointer p-1 px-3 hover:bg-binance-yellow"
                      >
                        Agrega un NFT
                      </div>
                    </label>
                  </div>
                </div>
              </div>
              <div class="flex flex-col pointer-events-none cursor-none">
                <label class="leading-loose">title</label>
                <input
                  type="text"
                  formControlName="title"
                  class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                />
              </div>
              <div class="flex flex-col pointer-events-none cursor-none">
                <label class="leading-loose">Propietario</label>
                <input
                  type="text"
                  formControlName="contract"
                  class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                />
              </div>
              <div class="flex flex-col pointer-events-none cursor-none">
                <label class="leading-loose">Precio</label>
                <input
                  type="text"
                  formControlName="price"
                  type="number"
                  class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                />
              </div>
              <div
                class="flex items-center space-x-4 pointer-events-none cursor-none"
              >
                <div class="flex flex-col">
                  <label class="leading-loose">Creacion</label>
                  <div
                    class="relative focus-within:text-gray-600 text-gray-400"
                  >
                    <input
                      type="text"
                      formControlName="date"
                      class="pr-4 pl-10 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                    />
                    <div class="absolute left-3 top-2">
                      <svg
                        class="w-6 h-6"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex flex-col pointer-events-none cursor-none">
                <label class="leading-loose">Description</label>
                <textarea
                  type="text"
                  formControlName="description"
                  class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                  placeholder="Requerido"
                ></textarea>
              </div>
              <div class="pt-4 flex items-center space-x-4">
                <button
                  type="button"
                  routerLink="/home"
                  class="flex justify-center items-center w-full bg-binance-yellow text-binance-dark-gray px-4 py-3 rounded-md focus:outline-none"
                >
                  Volver
                </button>
                <button
                  type="submit"
                  class="flex justify-center items-center w-full bg-binance-yellow text-binance-dark-gray px-4 py-3 rounded-md focus:outline-none"
                >
                  Comprar
                </button>
              </div>
            </form>
          </article>
        </section>
      </section>
    </article>
  </section>
</ng-container>
