.css-9bi1nf {
text-size-adjust: 100%;
line-height: 1.5;
font-weight: 400;
font-family: BinancePlex,Arial,sans-serif!important;
--text-color: #e6e6e6;
-webkit-tap-highlight-color: transparent;
outline: none;
box-sizing: border-box;
min-width: 0px;
display: flex;
background-size: 100% 100%;
background-repeat: no-repeat;
-webkit-box-align: center;
align-items: center;
max-width: 1200px;
height: 140px;
background-image: url("../../../assets/images/jumbo.jpg");
flex-direction: row;
-webkit-box-pack: justify;
justify-content: space-between;
margin: 70px auto 0px;
padding: 0px 128px;}



.css-10nf7hq {
text-size-adjust: 100%;
line-height: 1.5;
font-weight: 400;
font-family: BinancePlex,Arial,sans-serif!important;
--text-color: #e6e6e6;
-webkit-tap-highlight-color: transparent;
outline: none;
padding: 0px;
box-sizing: border-box;
margin: 0;
min-width: 0;
display: flex;
-webkit-box-align: center;
align-items: center;}



.css-1pmdbxv {
  text-size-adjust: 100%;
font-family: BinancePlex,Arial,sans-serif!important;
--text-color: #e6e6e6;
-webkit-tap-highlight-color: transparent;
outline: none;
box-sizing: border-box;
margin: 28px 0px 0px;
font-weight: 500;
font-size: 16px;
line-height: 24px;
padding: 12px 24px;
text-align: center;
cursor: pointer;
background-color: rgb(234, 236, 239);
color: rgb(30, 35, 41);
min-width: 140px;
margin-top: 0px;}
