<div class="flex flex-col gap-10">

  <p class="text-center pt-7 pb-6 text-[#A7A7A8]">Precio estimado 1 cripto = 123123 moneda</p>

  <div class="flex flex-col gap-3 p-3 bg-binance-gray">
    <div class="flex justify-between font-medium">
      <p>Vender</p>
    </div>
    <div class="flex items-center">
      <input class="w-full py-3 bg-binance-gray" type="number" placeholder="3000.00 - 1350000.00 ">
      <button class="p-1 bg-blue-100">cripto</button>
    </div>
  </div>

  <div class="flex flex-col gap-3 p-3 bg-binance-gray">
    <div class="font-medium">
      <p>Recibir</p>
    </div>
    <div class="flex items-center">
      <input class="w-full py-3 bg-binance-gray" type="number" placeholder="3000.00 - 1350000.00 ">
      <button class="p-1 bg-blue-100">cripto</button>
    </div>
  </div>

  <button class="px-6 py-3 text-base font-medium rounded-md bg-binance-yellow hover:opacity-90">Continuar</button>

</div>