<div class="bg-binance-light-gray">
  <div class="max-w-[1248px] min-h-[600px] mx-auto py-10 px-4 md:px-6">
    <p class="text-3xl font-medium pb-7">Compra criptomonedas</p>
    <div class="">
      <div *ngIf="operationSelectors" class="flex text-2xl font-medium max-w-[682px] mx-auto">
        <div [ngClass]="buyForm? 'border-b-binance-yellow bg-binance-gray' : ''" class="w-full py-4 text-center border-transparent cursor-pointer border-y-4 hover:bg-binance-gray" (click)="setBuyForm()">Comprar</div>
        <div [ngClass]="sellForm? 'border-b-binance-yellow bg-binance-gray' : ''" class="w-full py-4 text-center border-transparent cursor-pointer border-y-4 hover:bg-binance-gray" (click)="setSellForm()">Vender</div>
      </div>      
      
      <ng-container *ngIf="popularCryptos; else elseTemplate">
        <app-buy *ngIf="buyForm" (event)="operationSelectorsToogle()" [cryptos]="popularCryptos!"></app-buy>
        <app-sell *ngIf="sellForm"></app-sell>
      </ng-container>
      <ng-template #elseTemplate>
        <p class="py-5 text-2xl font-medium text-center">Algo salió mal :C</p>
      </ng-template>
      
    </div>
  </div>
</div>